name: Build and Push to Dev
on:
  push:
    branches:
      - main
  workflow_dispatch: {}

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout

env:
  OIDC_IAM_ROLE_ARN: arn:aws:iam::937168356724:role/GitHubActions

jobs:
  Build-And-Push-To-Dev:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build and Push to Dev Environment
        uses: ./.github/actions/build-and-deploy
        with:
          ecr_repository_name: backend
          working_directory: api
          aws_iam_role_oidc_arn: ${{ env.OIDC_IAM_ROLE_ARN }}
          lambda_name: backend
          lambda_alias: dev
