name: Build and Push to Ephemeral Environment
on:
  pull_request:
    # paths:
    #   - api/**

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read # This is required for actions/checkout
  pull-requests: write # Allow Pull Request comment

concurrency:
  group: ephemeral-${{ github.event.pull_request.number }}
  cancel-in-progress: true

env:
  PR_PREFIX: pr-${{ github.event.pull_request.number }}
  OIDC_IAM_ROLE_ARN: arn:aws:iam::937168356724:role/GitHubActions
  DOMAIN: api.dev.demosfelipetrindade.lat
  BACKEND_LAMBDA_NAME: backend

jobs:
  Build-And-Push-To-Ephemeral:
    if: github.event.action != 'closed'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build and Push to Ephemeral Environment
        uses: ./.github/actions/build-and-deploy
        with:
          ecr_repository_name: backend
          working_directory: api
          aws_iam_role_oidc_arn: ${{ env.OIDC_IAM_ROLE_ARN }}
          lambda_name: ${{ env.BACKEND_LAMBDA_NAME }}
          image_tag: ${{ env.PR_PREFIX }}
          lambda_alias: ${{ env.PR_PREFIX }}
          ephemeral: "true"

  Deploy-Ephemeral-IaC:
    if: github.event.action != 'closed'
    needs: Build-And-Push-To-Ephemeral
    uses: ./.github/workflows/iac-ephemeral-deploy.yaml
    with:
      apiGatewayId: dgq2a4gu22
      rootApiGatewayResourceId: qrb0mqp00j
      pullRequest: pr-${{ github.event.pull_request.number }}

  Comment-Pull-Request:
    if: github.event.action != 'closed'
    needs: Deploy-Ephemeral-IaC
    runs-on: ubuntu-latest
    steps:
      - name: Comment in the Pull Request with link
        uses: thollander/actions-comment-pull-request@v3
        with:
          comment-tag: ephemeral-environment-link
          message: |
            # :rocket: Ephemeral Environment Deployed!
            The ephemeral backend environment has been deployed at the following URL: https://${{ env.DOMAIN }}/${{ env.PR_PREFIX}}/
